.profile {
    padding-top: 0;
  }
  .profile-wrap {
    position: relative;
  }
  .profile-top-title {
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--normal-color);
    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px;
    width: 100%;
  }
  .profile-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    margin-bottom: 50px;
  }
  .profile-list {
    display: flex;
    gap: 30px;
  }